<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="IDBTranslateBCPApp.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="IDBTranslateBCPApp.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
      <IDBTranslateBCPApp.Properties.Settings>
            <setting name="ConnectionString" serializeAs="String">
                <value>Server=(local)\AUTODESKVAULT;Database=Load;Trusted_Connection=True;</value>
            </setting>
            <setting name="VaultVersion" serializeAs="String">
                <value>2020</value>
            </setting>
            <setting name="ExportDirectory" serializeAs="String">
                <value>C:\TEMP\BCP Package Directory</value>
            </setting>
        </IDBTranslateBCPApp.Properties.Settings>
    </userSettings>
    <applicationSettings>
      <IDBTranslateBCPApp.Properties.Settings>
            <setting name="CustomFilesOrderByFields" serializeAs="String">
                <value />
            </setting>
            <setting name="CustomItemsOrderByFields" serializeAs="String">
                <value />
            </setting>
        </IDBTranslateBCPApp.Properties.Settings>
    </applicationSettings>
</configuration>