<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="IDB.Discover.Vault.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>

  <startup> 
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>

  <userSettings>
    <IDB.Discover.Vault.Properties.Settings>
      <setting name="IDBConnectionString" serializeAs="String">
        <value>Server=(local)\AUTODESKVAULT;Database=Load;Trusted_Connection=True;</value>
      </setting>
      <setting name="ExportDirectory" serializeAs="String">
        <value>C:\TEMP\BCP Package Directory</value>
      </setting>
      <setting name="VaultConnectionString" serializeAs="String">
        <value>Server=(local)\AUTODESKVAULT;Database=TestVault;Trusted_Connection=True;</value>
      </setting>
      <setting name="KvmSqlDatabaseName" serializeAs="String">
        <value>KnowledgeVaultMaster</value>
      </setting>
    </IDB.Discover.Vault.Properties.Settings>
  </userSettings>



</configuration>