<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="IDB.Analyzer.Inventor.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <applicationSettings>
        <IDB.Analyzer.Inventor.Properties.Settings>
            <setting name="InventorProjectFile" serializeAs="String">
                <value />
            </setting>
            <setting name="FilestorePath" serializeAs="String">
                <value />
            </setting>
            <setting name="ConnectionString" serializeAs="String">
                <value>Server=(local)\AUTODESKVAULT;Database=LoadSample;Trusted_Connection=True;</value>
            </setting>
            <setting name="WorkingDirectory" serializeAs="String">
                <value>C:\temp\IDBAnalyze\InventorData</value>
            </setting>
            <setting name="DifferentLoadLocalFilestorePath" serializeAs="String">
                <value />
            </setting>
        </IDB.Analyzer.Inventor.Properties.Settings>
    </applicationSettings>
</configuration>